div.navigation
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url();
    background-size:cover;
    background-color: black;
}

div.li
{
    float: left;
}

div.li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.li a:hover
{
    background-color:rgb(4, 212, 126);
}

.active
{
    background-color:rgb(4, 212, 126);
}

body
{
    margin-left: 150px;
    margin-right: 150px;
    font-family: monospace;
    background-color:#ffffff;
}

h1 
{
    background-color: transparent;
    text-align: center;
}
    
h2 
{
    background-color: transparent;
    text-align: center;
}
    
footer
{
    text-align: end;
    margin-top: 50px;
}